* {
	margin: 0%;
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	padding: 0px;
	/*border: 1px dotted green;*/
}

#message h6.v-align-btm {
	margin-top: .75em;
}

.top-margin-2 {
	margin-top: 2%;
}
.top-margin-3 {
	margin-top: 3%;
}
.btm-margin-2 {
	margin-bottom: 2%;
}

.container {
	width: 90%;
	margin: 0% auto;
}

.logo {
	background: url("/static/bookr/images/BookRRaven_light.png");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	width: 20%;
}

.check {
	background: url("/static/bookr/images/checkmark-2.png");
	background-position: left;
	background-size: 10%;
	background-repeat: no-repeat;
}

.logo, .logo a{
	height: 64px;
	display: inline-block;
}

.logo a {
	width: 100%;
}

#landing_menu {
	margin-top: 5%;
}

.photo {
	width: 100%;
	background: black;
}

body {
  margin: 0;
  background: #000;
}
video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
 background: url({% static 'bookr/img/Band.jpg' %}) no-repeat;
  background-size: cover;
  transition: 1s opacity;
}
.stopfade {
   opacity: .5;
}

@media screen and (max-width: 500px) {
  div{width:70%;}
}
@media screen and (max-device-width: 800px) {
  html { background: url({% static 'bookr/img/Band.jpg' %}) #000 no-repeat center center fixed; }
  #bgvid { display: none; }
}

/* Medium Setting*/
@media only screen and (min-width: 601px) {

	.profile-heading {
		text-align: center;
	}
}

/* Large Setting */
@media only screen and (min-width: 993px) {

	.profile-heading {
		text-align: left;
	}
}

.errorlist {
  font-size: 1rem;
  font-weight: bold;
  color: #FF0000;
}

div#modal_book_artist {
	height: 90%;
	width: 30%;
}

td {
	padding: 2px;
}

.picker__date-display, .picker__day--selected,
.picker__day--selected:hover,
.picker--focused .picker__day--selected {
	background-color: #ff6d00;
}

.picker__today, .picker__close {
	color: #ff6d00;
}

.picker__weekday-display {
	background-color: #e65100;
}
