{% include 'bookrraven/header_logged_in.html'  %}
{% load staticfiles %}
<div class="container">
	<div id="wrapper" >
		<div class="band-info">
		<h2 class="white-text">{{artistInfo.artist_name}}</h2>
		<section style="overflow-y: scroll; height: 400px;">
			{% for img in artistImages %}
			<img src="{{img.image.url}}" alt="{{artistInfo.artist_name}}" height="300px">
			{% endfor %}
		</section>
		<p><a class="white-text" href="http://{{artistInfo.site}}" target="_blank">{{artistInfo.site}}</a></p>
		<p class="white-text">{{artistInfo.sound}}</p>
	</div>
	{% if request.user.groups == "BKR" and venueProfile %}
	<button class="btn waves-effect waves-light orange darken-3 modal-trigger" data-target="modal_book_artist">Book Artist</button>
	{% endif %}
	{% if request.user.groups == "ART" and artistInfo.contact_id.id == request.user.id %}
	<button class="btn waves-effect waves-light orange darken-3 modal-trigger" data-target="modal_AddImg">Add Image</button>
	<div id='modal_AddImg' class="modal">
		<div class="modal-content">
			<form enctype="multipart/form-data" action="{% url 'brr-addimage' %}" method="post">
				{% csrf_token %}
				<input type="hidden" name="artist_id" value="{{artistInfo.id}}">
				<div class="file-field input-field">
					<div class="btn waves-effect waves-light orange darken-4">
						<span>File</span>
						<input type="file" name="image">
					</div>
					<div class="file-path-wrapper">
						<input class="file-path validate" type="text">
					</div>
				</div>
				<p>
					<input type="checkbox" id="defimage" name="defimage">
					<label for="defimage">Default Image</label>
				</p>
				<div>
				<button class="btn waves-effect waves-light orange darken-4" type="submit" name="action">Add Image</button>
				</div>
			</form>
		</div>
	</div>
	{% endif %}

</div>
{% include 'bookrraven/footer_in.html'  %}
