{% include 'bookrraven/header_logged_in.html'  %}
{% load staticfiles %}
	<main class="container section">
		<section class="row section" >
			<div class="col s12 m5 l5 btm-margin-5">
				<h2 class="profile-heading text-secondary-1-0">{{artistInfo.artist_name}}</h2>
				<table>
					<tr class="row">
						<td class="col s4 label">Biography:</td>
						<td class="col s8">{{artistInfo.about}}</td>
					</tr>
					<tr class="row">
						<td class="col s4 label">Web site:</td>
						<td class="col s8"><a class="bold" href="{{artistInfo.site}}" target="_blank">{{artistInfo.site}}</a></td>
					</tr>
					<tr class="row">
						<td class="col s4 label">Sound Sample:</td>
						<td class="col s8"><a class="bold" href="{{artistInfo.sound}}" target="_blank">{{artistInfo.sound}}</a></td>
					</tr>
					<tr class="row">
						<td class="col s4 label">&nbsp;</td>
						<td class="col s8">
							{% if request.user.groups == "BKR" and venueProfile %}
							<button class="btn waves-effect waves-light bg-secondary-2-2 border-dark-secondary-2 modal-trigger top-margin-5" data-target="modal_book_artist">Book Artist</button>
							{% endif %}
						</td>
					</tr>
				</table>
			</div>
			<div class="col s12 m6 l6 offset-m1 offset-l1 image-box">
				{% if request.user.groups == "ART" and artistInfo.contact_id.id == request.user.id %}
				<div class="img-100">
					<button class="btn waves-effect waves-light bg-secondary-2-2 border-dark-secondary-2 modal-trigger" data-target="modal_AddImg">Add Image</button>
				</div>
				{% endif %}
				{% for img in artistImages %}
				<img class="img-100" src="{{img.image.url}}" alt="{{artistInfo.artist_name}}">
				{% endfor %}
			</div>
		</section>
	</main>
{% include 'bookrraven/footer_in.html'  %}
