<body style="background-color: rgba(100, 100, 100, 0.5)">
  <nav style="background-color: #C20A00">
    <img style="width: 50%;" src="https://s3-us-west-2.amazonaws.com/bookrraven-images/BookRRaven_light.png" alt="BookRRaven Logo">
  </nav>
  <h1 style="color: #9A6200; font-family: sans-serif; border-left: 5px double #9A0800; border-bottom: 5px double #9A0800; padding: 5px;">BookRRaven New Event Request</h1>
  <p style="font-family: sans-serif; color: #FFFFFF">A new event has been requested. Please log into <a style="text-decoration: none" href="http://bookrraven.com" target="_blank">BookRRaven.com</a> to respond to the request.</p>
  <table style="font-family: sans-serif;">
    <tbody>
      <tr>
        <td style="color: #540165; font-weight:bold;">Venue:</td>
        <td style="color: #FFFFFF">%s</td>
      </tr>
      <tr>
        <td style="color: #540165; font-weight:bold;">Artist:</td>
        <td style="color: #FFFFFF">%s</td>
      </tr>
      <tr>
        <td style="color: #540165; font-weight:bold;">Date:</td>
        <td style="color: #FFFFFF">%s</td>
      </tr>
      <tr>
        <td style="color: #540165; font-weight:bold;">Message:</td>
        <td style="color: #FFFFFF">%s</td>
      </tr>
    </tbody>
  </table>

  <p style="font-family: sans-serif; font-style: italic; color: #FFFFFF ">do not respond to this email</p>
</body>
