{% include 'bookrraven/header_logged_in.html'  %}
	<main class="container section">
		<section class="row section">
			<div class="col s12 m5 l5">
				<h2 class="profile-heading text-secondary-1-0">{{venueProfile.venue_name}}</h2>
				<table>
					<tr class="row">
						<td class="col s4 label">Address:</td>
						<td class="col s8">{{venueProfile.address}}</td>
					</tr>
					<tr class="row">
						<td class="col s4 label">City, State  Zipcode:</td>
						<td class="col s8">{{venueProfile.city}}, {{venueProfile.state}} {{venueProfile.zipcode}}</td>
					</tr>
					<tr class="row">
						<td class="col s4 label">Phone:</td>
						<td class="col s8">{{venueProfile.phone}}</td>
					</tr>
					<tr class="row">
						<td class="col s4 label">Website:</td>
						<td class="col s8"><a class="bold" href="{{venueProfile.site}}" target="_blank">{{venueProfile.site}}</a></td>
					</tr>
					<tr class="row">
						<td class="col s4 label">&nbsp;</td>
						<td class="col s8">
							{% if request.user.groups == "ART" and artistInfo %}
							<button class="btn waves-effect waves-light bg-secondary-2-2 border-dark-secondary-2 modal-trigger top-margin-5" data-target="modal_book_venue">Request to play venue</button>
							{% endif %}
						</td>
					</tr>
				</table>
			</div>
			<div class="col s12 m6 l6 offset-m1 offset-l1 image-box">
				{% if request.user.groups == "BKR" and venueProfile.contact_id.id == request.user.id %}
				<div class="img-100">
					<button class="btn waves-effect waves-light bg-secondary-2-2 border-dark-secondary-2 modal-trigger" data-target="modal_AddImg">Add Image</button>
				</div>
				{% endif %}
				{% for img in venueImages %}
				<img class="img-100"src="{{img.image.url}}" alt="{{artistInfo.venue_name}}" height="100px">
				{% endfor %}
			</div>
		</section>
	</main>
{% include 'bookrraven/footer_in.html'  %}
